* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

html {
  --text-color-pattern: #493349;
  --border-pattern: white;
  --bg-link-pattern: #854e85;
  --bg-second-pattern: #3f203f;
  --text-color-link-pattern: white;    
}

body.pattern {
  position: relative;
  color: var(--text-color-pattern);
  background-image: url(https://raw.githubusercontent.com/joabediias/linktree/main/img/Fundo.jpg);
  background-size: 100vh;  
  opacity: 0.90;
}

body {
  font-family: 'Roboto Mono', monospace;
}

.main {
  text-align: center;
  width: 300px;
  margin: 60px auto;
}

img {
  width: 100%;
}

img.logo_main {
  border-radius: 50%;
  width: 210px;
  height: 210px;
  padding: 4px;
  border: var(--border-dark--pattern) solid 3px;
  opacity: 0.90;
}

h1 {
  margin-top: 26px;
  margin-bottom: 8px;
  font-size: 30px;
  display: block;
}

p {
  font-size: 18px;
  margin-top: 15px;
}

footer {
  font-size: 18px;
}

ul {
  list-style: none;
  margin: 48px 0;
}

ul li a {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-link-pattern);
  margin-bottom: 16px;
  border: var(--border-pattern) solid 1px;
  color: var(--text-color-link-pattern);
  transition: background 400ms;
}

ul li a:hover {
  background: var(--bg-second-pattern);
}